<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/1d6509ca-2d41-4439-836a-1d017c78442a/resourceGroups/PrintMe/providers/Microsoft.Web/sites/PrintMeAPI</ResourceId>
    <ResourceGroup>PrintMe</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://printmeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cea6ed2a-c861-4dd2-882d-b61573de601b</ProjectGuid>
    <PublishUrl>https://printmeapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PrintMeAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>